.box-chat{
    height:560px;
    width: 500px;
    background: rgba(219, 222, 224, .40);
}
.chat-header{  
    background: #fff;
}
.perfil img {
    max-width: 65px;
  }
.chat-footer{
    background: #ffff;
    
}
.recibido{
    background: #fff;
}
.enviado{
    background: #212529;
    color: #fff;
}

.chat-body::-webkit-scrollbar{
    width: 8px;
    background: #fff;
    border-radius: 5px;
}

.chat-body::-webkit-scrollbar-thumb{
    background: #000;
    border-radius: 5px;
}

